body {
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 1.5rem;
  text-decoration: none;
}

#pokemonInfoContainer {
  max-width: 30%;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

#pokemonName {
  margin-top: 1rem;
  font-weight: 900;
}

#pokemonPic {
  margin: 0 auto;
  width: 6rem;
}

#error {
  text-align: center;
  margin-top: 1rem;
  font-size: 12px;
  font-weight: 600;
}
